In [2]:
# '2017-01-05'
# 'Jan 5, 2017'        # in US (mm/dd/yyyy) 
# '01/05/2017'              
# '2017.01.05'         # all these can be used to represent 5th January 2017 and can pose a problem
# '2017/01/05'
# '20170105'           # in Europe (dd/mm/yyyy)

In [3]:
import pandas as pd

dates = ['2017-01-05 2:30:00 PM', 'Jan 5, 2017 14:30:00', '01/05/2017','2017.01.05','2017/01/05','20170105']

pd.to_datetime(dates)

DatetimeIndex(['2017-01-05 14:30:00', '2017-01-05 14:30:00',
               '2017-01-05 00:00:00', '2017-01-05 00:00:00',
               '2017-01-05 00:00:00', '2017-01-05 00:00:00'],
              dtype='datetime64[ns]', freq=None)

In [4]:
pd.to_datetime('5/1/2017', dayfirst=True)

Timestamp('2017-01-05 00:00:00')

In [5]:
pd.to_datetime('5$1$2017', format='%d$%m$%Y')

Timestamp('2017-01-05 00:00:00')

In [7]:
pd.to_datetime('5#1#2017', format='%d#%m#%Y')

Timestamp('2017-01-05 00:00:00')

In [10]:
dates = ['2017-01-05 2:30:00 PM', 'Jan 5, 2017 14:30:00', '01/05/2017','2017.01.05','2017/01/05','20170105', 'abc']
pd.to_datetime(dates, errors='ignore')    # does not convert to DatetimeIndex

Index(['2017-01-05 2:30:00 PM', 'Jan 5, 2017 14:30:00', '01/05/2017',
       '2017.01.05', '2017/01/05', '20170105', 'abc'],
      dtype='object')

In [11]:
dates = ['2017-01-05 2:30:00 PM', 'Jan 5, 2017 14:30:00', '01/05/2017','2017.01.05','2017/01/05','20170105', 'abc']
pd.to_datetime(dates, errors='coerce')     # converts to DatetimeIndex and states the note date time argument

DatetimeIndex(['2017-01-05 14:30:00', '2017-01-05 14:30:00',
               '2017-01-05 00:00:00', '2017-01-05 00:00:00',
               '2017-01-05 00:00:00', '2017-01-05 00:00:00',
                               'NaT'],
              dtype='datetime64[ns]', freq=None)

In [14]:
t = 1501356749                    # Epoch (Unix time) is number of seconds that have passed since Jan 1, 1970 00:00:00 UTC 
pd.to_datetime(t, unit='s')       # google Epoch converter

Timestamp('2017-07-29 19:32:29')

In [15]:
t = 1501356749                    
dt = pd.to_datetime([t], unit='s')
dt

DatetimeIndex(['2017-07-29 19:32:29'], dtype='datetime64[ns]', freq=None)

In [16]:
dt.view('int64')

array([1501356749000000000], dtype=int64)