In [7]:
%%HTML
<style type = "text/css">
    table.dataframe td, table.dataframe th {
        border-style: groove;
    }
</style>

In [8]:
import pandas as pd
y = pd.Period('2016')
y

Period('2016', 'A-DEC')

In [9]:
dir(y)

['__add__',
 '__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__pyx_vtable__',
 '__radd__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rsub__',
 '__setattr__',
 '__setstate__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__weakref__',
 '_add_delta',
 '_add_offset',
 '_dtype',
 '_from_ordinal',
 '_get_to_timestamp_base',
 '_maybe_convert_freq',
 'asfreq',
 'day',
 'dayofweek',
 'dayofyear',
 'days_in_month',
 'daysinmonth',
 'end_time',
 'freq',
 'freqstr',
 'hour',
 'is_leap_year',
 'minute',
 'month',
 'now',
 'ordinal',
 'quarter',
 'qyear',
 'second',
 'start_time',
 'strftime',
 'to_timestamp',
 'week',
 'weekday',
 'weekofyear',
 'year']

In [10]:
y.start_time

Timestamp('2016-01-01 00:00:00')

In [11]:
y.end_time

Timestamp('2016-12-31 23:59:59.999999999')

In [12]:
m = pd.Period('2011-1',freq='M')
m

Period('2011-01', 'M')

In [13]:
m.start_time

Timestamp('2011-01-01 00:00:00')

In [14]:
m.end_time

Timestamp('2011-01-31 23:59:59.999999999')

In [15]:
m + 1

Period('2011-02', 'M')

In [16]:
d = pd.Period('2017-02-28', freq='D')
d

Period('2017-02-28', 'D')

In [17]:
d+1

Period('2017-03-01', 'D')

In [18]:
d = pd.Period('2016-02-28', freq='D')
d

Period('2016-02-28', 'D')

In [19]:
d+1

Period('2016-02-29', 'D')

In [20]:
h = pd.Period('2017-02-28 23:00:00', freq='H')
h

Period('2017-02-28 23:00', 'H')

In [21]:
h.start_time

Timestamp('2017-02-28 23:00:00')

In [22]:
h.end_time

Timestamp('2017-02-28 23:59:59.999999999')

In [23]:
h+1

Period('2017-03-01 00:00', 'H')

In [25]:
h+pd.offsets.Hour(5)

Period('2017-03-01 04:00', 'H')

In [26]:
h-6

Period('2017-02-28 17:00', 'H')

In [27]:
q = pd.Period('2017Q1', freq='Q')
q

Period('2017Q1', 'Q-DEC')

In [28]:
q+1

Period('2017Q2', 'Q-DEC')

In [32]:
q = pd.Period('2017Q1', freq='Q-JAN')
q

Period('2017Q1', 'Q-JAN')

In [33]:
q.start_time

Timestamp('2016-02-01 00:00:00')

In [34]:
q.asfreq('M',how='start')

Period('2016-02', 'M')

In [35]:
q.asfreq('M',how='end')

Period('2016-04', 'M')

In [36]:
q1 = pd.Period('2018Q2', freq='Q-JAN')
q1

Period('2018Q2', 'Q-JAN')

In [37]:
q1-q

In [39]:
q1.start_time

Timestamp('2017-05-01 00:00:00')

In [40]:
idx = pd.period_range('2011', '2017',freq='Q')
idx

PeriodIndex(['2011Q1', '2011Q2', '2011Q3', '2011Q4', '2012Q1', '2012Q2',
             '2012Q3', '2012Q4', '2013Q1', '2013Q2', '2013Q3', '2013Q4',
             '2014Q1', '2014Q2', '2014Q3', '2014Q4', '2015Q1', '2015Q2',
             '2015Q3', '2015Q4', '2016Q1', '2016Q2', '2016Q3', '2016Q4',
             '2017Q1'],
            dtype='period[Q-DEC]', freq='Q-DEC')

In [42]:
idx = pd.period_range('2011', '2017',freq='Q-JAN')
idx

PeriodIndex(['2011Q4', '2012Q1', '2012Q2', '2012Q3', '2012Q4', '2013Q1',
             '2013Q2', '2013Q3', '2013Q4', '2014Q1', '2014Q2', '2014Q3',
             '2014Q4', '2015Q1', '2015Q2', '2015Q3', '2015Q4', '2016Q1',
             '2016Q2', '2016Q3', '2016Q4', '2017Q1', '2017Q2', '2017Q3',
             '2017Q4'],
            dtype='period[Q-JAN]', freq='Q-JAN')

In [43]:
idx[0].start_time

Timestamp('2010-11-01 00:00:00')

In [45]:
idx[0].end_time

Timestamp('2011-01-31 23:59:59.999999999')

In [46]:
idx = pd.period_range('2011',periods=10,freq='Q-JAN')
idx

PeriodIndex(['2011Q4', '2012Q1', '2012Q2', '2012Q3', '2012Q4', '2013Q1',
             '2013Q2', '2013Q3', '2013Q4', '2014Q1'],
            dtype='period[Q-JAN]', freq='Q-JAN')

In [47]:
import numpy as np
ps = pd.Series(np.random.randn(len(idx)), idx)
ps

2011Q4   -0.011461
2012Q1   -1.244279
2012Q2   -0.714134
2012Q3    0.039058
2012Q4    0.586074
2013Q1   -0.838046
2013Q2    0.419965
2013Q3   -0.364956
2013Q4    0.069120
2014Q1   -1.266712
Freq: Q-JAN, dtype: float64

In [48]:
ps.index

PeriodIndex(['2011Q4', '2012Q1', '2012Q2', '2012Q3', '2012Q4', '2013Q1',
             '2013Q2', '2013Q3', '2013Q4', '2014Q1'],
            dtype='period[Q-JAN]', freq='Q-JAN')

In [49]:
ps['2011']

2011Q4   -0.011461
2012Q1   -1.244279
2012Q2   -0.714134
2012Q3    0.039058
2012Q4    0.586074
Freq: Q-JAN, dtype: float64

In [50]:
ps['2011':'2013']

2011Q4   -0.011461
2012Q1   -1.244279
2012Q2   -0.714134
2012Q3    0.039058
2012Q4    0.586074
2013Q1   -0.838046
2013Q2    0.419965
2013Q3   -0.364956
2013Q4    0.069120
2014Q1   -1.266712
Freq: Q-JAN, dtype: float64

In [51]:
pst = ps.to_timestamp()
pst

2010-11-01   -0.011461
2011-02-01   -1.244279
2011-05-01   -0.714134
2011-08-01    0.039058
2011-11-01    0.586074
2012-02-01   -0.838046
2012-05-01    0.419965
2012-08-01   -0.364956
2012-11-01    0.069120
2013-02-01   -1.266712
Freq: QS-NOV, dtype: float64

In [52]:
pst.index

DatetimeIndex(['2010-11-01', '2011-02-01', '2011-05-01', '2011-08-01',
               '2011-11-01', '2012-02-01', '2012-05-01', '2012-08-01',
               '2012-11-01', '2013-02-01'],
              dtype='datetime64[ns]', freq='QS-NOV')

In [53]:
pst.to_period()

2010Q4   -0.011461
2011Q1   -1.244279
2011Q2   -0.714134
2011Q3    0.039058
2011Q4    0.586074
2012Q1   -0.838046
2012Q2    0.419965
2012Q3   -0.364956
2012Q4    0.069120
2013Q1   -1.266712
Freq: Q-DEC, dtype: float64

In [72]:
import pandas as pd
df = pd.read_csv('C:\\Users\\USER\\Downloads\\wmt.csv')
df

  Line Item  2017Q1  2017Q2  2017Q3  2017Q4  2018Q1
0   Revenue  115904  120854  118179  130936  117542
1  Expenses   86544   89485   87484   97743   87688
2    Profit   29360   31369   30695   33193   29854

In [73]:
df.set_index('Line Item', inplace=True)
df

           2017Q1  2017Q2  2017Q3  2017Q4  2018Q1
Line Item
Revenue    115904  120854  118179  130936  117542
Expenses    86544   89485   87484   97743   87688
Profit      29360   31369   30695   33193   29854

In [74]:
df = df.T
df

Line Item  Revenue  Expenses  Profit
2017Q1      115904     86544   29360
2017Q2      120854     89485   31369
2017Q3      118179     87484   30695
2017Q4      130936     97743   33193
2018Q1      117542     87688   29854

In [75]:
df.index

Index(['2017Q1', '2017Q2', '2017Q3', '2017Q4', '2018Q1'], dtype='object')

In [76]:
df.index = pd.PeriodIndex(df.index, freq='Q-JAN')
df.index

PeriodIndex(['2017Q1', '2017Q2', '2017Q3', '2017Q4', '2018Q1'], dtype='period[Q-JAN]', freq='Q-JAN')

In [77]:
df['start date'] = df.index.map(lambda x: x.start_time)
df

Line Item  Revenue  Expenses  Profit start date
2017Q1      115904     86544   29360 2016-02-01
2017Q2      120854     89485   31369 2016-05-01
2017Q3      118179     87484   30695 2016-08-01
2017Q4      130936     97743   33193 2016-11-01
2018Q1      117542     87688   29854 2017-02-01

In [79]:
df['end date'] = df.index.map(lambda x: x.end_time)
df

Line Item  Revenue  Expenses  Profit start date                      end date
2017Q1      115904     86544   29360 2016-02-01 2016-04-30 23:59:59.999999999
2017Q2      120854     89485   31369 2016-05-01 2016-07-31 23:59:59.999999999
2017Q3      118179     87484   30695 2016-08-01 2016-10-31 23:59:59.999999999
2017Q4      130936     97743   33193 2016-11-01 2017-01-31 23:59:59.999999999
2018Q1      117542     87688   29854 2017-02-01 2017-04-30 23:59:59.999999999